/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0px;
    background: white;
}
.header {
    top: 0px;
    height: 25px;
    background: grey;
    border: 1px solid #CCC;
    width: 100%;
    margin: 0px auto;
    border-bottom: 2px solid black;
    position: fixed;
}
.content {
    width: 960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin:  20px auto;
}

#user_nav {
    position: relative;
    text-align: right;
    font-size: .50cm;
    color: white;
}

#user_nav a {
    color: white;
    text-decoration: none;
}

#user_nav a:hover{
    color: yellow;
    text-decoration: none;
}